/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* HEADER */
header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

/* CONTEÚDO */
main {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* TÍTULOS */
h2 {
  color: plum;
  margin-bottom: 15px;
}

/* PARÁGRAFOS */
p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* BOTÃO */
button {
  background: pink;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: plum;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  main {
    margin: 15px;
    padding: 20px;
  }

  button {
    width: 100%;
  }
}
.sobre{
      background-color: rgb(206, 119, 158);
      color: pink;
      padding: 60px;
      text-align: center;
    }
  .botao {
    background-color:rgb(206, 119, 158)
  }
    

