body{ 
    background-color: burlywood;
    color: black;
}
table,tr,th,td{
 border: 1px solid wheat;
 border-collapse:collapse ; 

}

table,tr,th,td{
    border-style: groove;
    border-color: aliceblue;
}
table{
    width:100%;
}
tr{
    height: 50px;
    text-align: center;
}
th{
    background-color: aliceblue;
}

th,td{
    padding: 20px;
    padding-top: 60px;
}
 .tabela2{
    border-style: dotted;
    border-color: black;

 }